[submodule "RocksDb"]
	path = lib/rocksdb
	url = https://github.com/chill-umb/rocksdb
	branch = 11.1.fb
[submodule "Tectonic"]
	path = lib/tectonic
	url = https://github.com/SSD-Brandeis/Tectonic.git
	branch = main
