# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# working files
logs
**.log
workload.txt

# db_working_home
**/db/**

# bin
**/bin/**

# build
**/build/**

# venv
.venv

# python
__pycache__/
*.pyc

# metrics
*.json
!workloads/*.spec.json
*.jsonl
scripts/*
!scripts/
!scripts/*.sh
!scripts/compare_experiment_metrics.py
!scripts/plot_dqn_parameter_sweep.py

# results
results/*

# workloads
*.txt
*.json

# Documentations
*.md
